{{define "pwa"}}
<link rel="icon" href="/static/icons/norte.ico" sizes="any">
<link rel="icon" type="image/png" sizes="32x32" href="/static/icons/norte-icon-32.png">
<link rel="apple-touch-icon" href="/static/icons/norte-icon-180.png">
<link rel="manifest" href="/manifest.webmanifest">
<meta name="theme-color" content="#0b4276">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="Norte">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
{{end}}
